body {
    margin: 0;
    padding: 0;
    border: 15px solid rgb(230, 226, 227);
}
.tableone{
    font-size: 20px;
    padding: 35px;


}
.mainrow{
    background-color: rgba(50, 131, 50, 0.849);
}

table,td,th{
    
    border: 2px solid black ;
}

.color1{
    background-color: rgba(131, 206, 226, 0.705);
}
.color2{
    background-color: rgba(143, 177, 185, 0.336);
}
.linkone{
    text-decoration: none;
   
}
.headingone{
    padding-left: 35px;
}