*{
    margin: 0;
    padding: 0px;
    
}
.leafyhead {
    background: url(./images/table.jpg);
    min-height: 40vh;
    width: 100%;

}

.mainhead{
    padding: 15px;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    font-family:'Courier New', Courier, monospace;
    font-size: 2.5rem;
    text-decoration-line: underline;
    text-decoration-color: rgb(21, 148, 84);
}
.leafyhead h1{
    padding-left: 50px;
    padding-top: 50px;
}


.quoteone {
    background-color: aliceblue;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 15px;
    margin-top: 35px;
    font-size: 15.5px;
    text-align: center;
}
.quoteone h4{
    font-weight: 500;
}
.quote {
    color: crimson;
}

.partsec {
    margin-top: 25px;
    background: linear-gradient(170.05deg, rgba(139, 209, 205, 0.9) 6.73%,
     rgba(132, 186, 189, 0.05) 60.87%,
      rgba(253, 255, 255, 0.446133) 91.93%);
    min-height: 60vh;
}

.menuhead {
    text-align: center;
    padding-top: 25px;
    font-size: 2.5rem;
    font-style:italic;
    color: rgb(0, 0, 0);
    
}
.menulist{
    align-content: center; 
    margin-top: 25px;
    /* background-color: rgba(0, 0, 0, 0.253);   */
    border-radius: 30px;
    display: flex;
    justify-content: space-around;

}
.menulist div h1{
    font-size: 30px;
}
.menulist div img:hover{
    transform: scale(1.1);
    transition: .5s;

}

.menulist img{
    border-radius: 25px;
    text-align: center;
    transition: 0.3s;
}
.menulist a {
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 5px;
}
.menulist a:hover{
    text-decoration-line: underline;
}
.headingtwo {
    padding: 30px;
    color: rgb(25, 23, 27);
}
.dishtitle{
    display: flex;
    justify-content: space-around;
}

.pgtwo {
    padding: 10px;
    margin-top: 15px;
}
.pgtwo .dishtitle{
    display: flex;
}

.timingbox{
    padding: 25px;
    color: rgb(255, 255, 255);
    background-image: url(./images/rest\ open.jpg);
    background-size: contain;
    /* position: absolute; */
    background-position: center;

}
.timingbox .colone{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.timingbox .colone p{
    font-size: 25px;
    margin: 30px;


}
