*{
    margin: 0;
    padding: 0px;
    
}
.leafyhead {
    background: url(./images/table.jpg);
    min-height: 40vh;
    width: 100%;

}

.mainhead{
    padding: 15px;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    font-family:'Courier New', Courier, monospace;
    font-size: 2.5rem;
    text-decoration-line: underline;
    text-decoration-color: rgb(21, 148, 84);
}
.leafyhead .mainhead .heading {
    /* text-align:left; */
    margin-left: 80px;
}

.paraone {
    background-color: aliceblue;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 35px;
    font-size: 16px;
}

.partsec {
    margin-top: 25px;
    background-color: aliceblue;
    min-height: 50vh;
}

.menuhead {
    text-align: center;
    padding-top: 25px;
    font-size: 2rem;
    font-style: unset;
    color: rgb(21, 148, 84);
    
}
.menulist{
    align-content: center; 
    margin-top: 25px;
    background-color: rgba(215, 249, 250, 0.253);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;

}
.menulist div h1{
    font-size: 30px;
}
.menulist div img:hover{
    transform: scale(1.1);
    transition: .5s;

}

.menulist img{
    border-radius: 25px;
    text-align: center;
    transition: 0.3s;
}
.menulist a {
    text-decoration: none;
    text-align: center;
    color: rgb(33, 116, 47);
    padding: 5px;
}
.menulist a:hover{
    text-decoration-line: underline;
}
.headingtwo {
    padding: 30px;
    color: rgb(25, 23, 27);
}
.dishtitle{
    display: flex;
    justify-content: space-around;
}

.pgtwo {
    padding: 10px;
    margin-top: 15px;
}

.timingbox{
    padding: 25px;
    color: rgb(255, 255, 255);
    background-image: url(./images/rest\ open.jpg);
    background-size: contain;
    /* position: absolute; */
    background-position: center;

}

.timingbox .colone{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.timingbox .colone p{
    font-size: 25px;
    margin: 30px;


}