body{
    margin: 15px;
}
.redButton {
    font-size: 15px;
    border: 3.5px solid red;
    transition: 0.3s;
    margin: 20px;
} 

.greenButton {
    border: 3.5px solid green !important;
    transition: 0.3s;

}
.btnA{
    left: 15px;
}
.keybtns{
    margin: 5px;
    margin-left: 20px;
    
}

.keysrowOne{
    /* padding: 5px; */
    margin: 5px;
    
}
.keysrowOne button{
    padding: 10px 15px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    color: white;
    
}
.keysrowTwo button{
    padding: 10px 15px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    color: white;
}
.keysrowThree button{
    padding: 10px 15px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    color: white;
}
.keysrowTwo{
    margin: 5px ;
}
.keysrowThree{
    margin: 5px;
}
.typeString{
    margin: 25px;
}

.spacebtn{
    
    margin-left: 5%;
    width: 225px;
    padding: 5px;
    font-size: 15px;

}