* {
    background-color:aliceblue;
}

.topic{
    color: crimson;
}

.all-browsers{
    margin: 5px;
    padding: 10px;
    background-color: rgba(159, 163, 167, 0.295);
    font-style: bold;
    
}
