.heading{
    text-align: center;
    font-size: 14px;
    color: rgb(5, 105, 112);
}

.board .whitebox, .blackbox .piece{
    font-size: 35px;
    /* margin-left: 20px; */
    text-align: center;
    justify-content: center;
    align-items: center;
}
.board{
    display: flex;
    justify-content: center;
}
.whitebox{
    background-color: rgb(226, 234, 235);
    border: 1px solid rgb(7, 76, 97);
    width: 80px;
    height: 80px;
}
.board .blackbox{
    background: linear-gradient(93.88deg, rgba(26, 146, 163, 0.79) 2.19%, rgba(15, 69, 118, 0.87) 99.23%);
    border: 1px solid rgb(7, 76, 97);
    width: 80px;
    height: 80px;
}